@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > header {
    display: flex;
    flex-direction: column;
}

.container > header > .top-info {
    height: 45px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #777777;
    gap: 10px;
    color: white;
    font-size: 14px;
}

.container > header > .top-info > a {
    color: white;
}

.container > header > .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0 20px;
    width: 1000px;
}

.container > header > .main-nav > .logo > a > img {
    width: 224px;
    height: 68px;
}

.container > header > .main-nav > .nav > ul {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.container > header > .main-nav > .nav > ul > li:hover > ul {
    display: block;
}

.container > header > .main-nav > .nav > ul > li > a {
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.container > header > .main-nav > .nav > ul > li > ul {
    background-color: #D9D9D9;
    border: 1px solid #777777;
    display: none;
    position: absolute;
    min-width: 150px;
}

.container > header > .main-nav > .nav > ul > li > ul > li {
    padding: 10px;
}

.container > header > .main-nav > .nav > ul > li > ul > li:hover {
    background-color: white;
}

.container > header > .main-nav > .nav > ul > li {
    float: left;
}

.container > header > .breadCrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    padding: 5px;
    width: 1000px;
}

.container > header > .breadCrumbs > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10 0px;
    gap: 5px;
}

.container > header > .breadCrumbs > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container > header > .breadCrumbs > ul > li > .active {
    color: #2B7DE9;
}

.container > header > .breadCrumbs > ul > li > .current {
    color: black;
}

.container > main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1000px;
}

.container > main > .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > main > .main-container > h1 {
    font-size: 24px;
    margin-top: 23px;
}

.container > main > .main-container > .confg-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container > main > .main-container > .confg-container > .idioma-container {
    display: flex;
    flex-direction: column;
}

.container > main > .main-container > .confg-container > .idioma-container > p {
    font-size: 18px;
    font-weight: 900;
}

.container > main > .main-container > .confg-container > .idioma-container > .btns-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

.container > main > .main-container > .confg-container > .idioma-container > .btns-container > button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.container > main > .main-container > .confg-container > .idioma-container > .btns-container > .esp {
    color: white;
    font-size: 14px;
    background-color: #1155AD;
}

.container > main > .main-container > .confg-container > .idioma-container > .btns-container > .eng {
    color: black;
    font-size: 14px;
    background-color: #D9D9D9;
}

.container > main > .main-container > .confg-container > .tema-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container > main > .main-container > .confg-container > .tema-container > p {
    font-size: 18px;
    font-weight: 900;
}

.container > main > .main-container > .confg-container > .tema-container > .input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}  

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch > input {
    display: none;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4C4C4;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch > .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch > .slider.round {
    border-radius: 34px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico > .switch > .slider.round:before {
    border-radius: 50%;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .daltonico::before {
    position: absolute;
    content: "";
    height: 41px;
    width: 1px;
    left: 685px;
    bottom: 295px;
    background-color:#000;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}  

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch > input {
    display: none;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4C4C4;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch > .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch > .slider.round {
    border-radius: 34px;
}

.container > main > .main-container > .confg-container > .tema-container > .input > .obscuro > .switch > .slider.round:before {
    border-radius: 50%;
}

.container > main > .main-container > .confg-container > .fuente-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container > main > .main-container > .confg-container > .fuente-container > p {
    font-size: 18px;
    font-weight: 900;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
.container > main > .main-container > .confg-container > .fuente-container > .tam > .f-g {
    margin-top: 5px;
    font-size: 20px;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > p {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch > input {
    display: none;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4C4C4;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch > .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch > .slider.round {
    border-radius: 34px;
}

.container > main > .main-container > .confg-container > .fuente-container > .tam > .switch > .slider.round:before {
    border-radius: 50%;
}

.container > footer {
    margin-top: 20px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    margin-top: 330px;
}

.container > footer > .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1000px;
    height: 100px;
    gap: 40px;
}

.container > footer > .footer-container > .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container > footer > .footer-container > .redes-sociales > a {
    color: black;
}

.container > footer > .footer-container > .redes-sociales > a > i {
    font-size: 30px;
}

.container > footer > .footer-container > .footer-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > footer > .footer-container > .footer-copy > p {
    font-size: 14px;
}




