@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > header {
    display: flex;
    flex-direction: column;
}

.container > header > .top-info {
    height: 45px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #777777;
    gap: 10px;
    color: white;
    font-size: 14px;
}

.container > header > .top-info > a {
    color: white;
}

.container > header > .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0 20px;
    width: 1000px;
}

.container > header > .main-nav > .logo > a > img {
    width: 224px;
    height: 68px;
}

.container > header > .main-nav > .nav > ul {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.container > header > .main-nav > .nav > ul > li:hover > ul {
    display: block;
}

.container > header > .main-nav > .nav > ul > li > a {
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.container > header > .main-nav > .nav > ul > li > ul {
    background-color: #D9D9D9;
    border: 1px solid #777777;
    display: none;
    position: absolute;
    min-width: 150px;
}

.container > header > .main-nav > .nav > ul > li > ul > li {
    padding: 10px;
}

.container > header > .main-nav > .nav > ul > li > ul > li:hover {
    background-color: white;
}

.container > header > .main-nav > .nav > ul > li {
    float: left;
}

.container > header > .bottom-bar {
    background-color: #5d9ae9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container > header > .bottom-bar > p {
    font-size: 18px;
    color: white;
}

.container > header > .bottom-bar > p > span {
    background-color: #2B7DE9;
    border-radius: 15px;
    padding: 5px;
}

.container > main {
    display: flex;
    flex-direction: column;
}

.container > main > .hero-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1000px;
    margin-top: 30px;
}

.container > main > .hero-container > img {
    width: 1000px;
    height: 400px;
}

.container > main > .hero-container > ul {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 12px;
}

.container > main > .hero-container > ul > li {
    content: '';
    height: 12px;
    width: 12px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

.container > main > .hero-container > ul > .active {
    background-color: #2B7DE9;
}

.container > main > .section-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 1000px;
    margin: 40px;
}

.container > main > .section-first > .titulo {
    display: flex;
    align-self: flex-start;
    font-size: 24px;
}

.container > main > .section-first > .section-cita {
    margin-top: 20px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container > main > .section-first > .section-cita > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 220px;
    height: 90px;
    border-radius: 5px;
}

.container > main > .section-first > .section-cita > .haz-cita {
    background-color: #2B7DE9;
}

.container > main > .section-first > .section-cita > .consulta-cita {
    background-color: #1155AD;
}

.container > main > .section-first > .section-cita > .modifica-cita {
    background-color: #3D90FD;
}

.container > main > .section-first > .section-cita > .cancela-cita {
    background-color: #0527DD;
}

.container > main > .section-first > .section-cita > a > i {
    margin-right: 10px;
    font-size: 45px;
}

.container > footer {
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container > footer > .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1000px;
    height: 100px;
    gap: 40px;
}

.container > footer > .footer-container > .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container > footer > .footer-container > .redes-sociales > a {
    color: black;
}

.container > footer > .footer-container > .redes-sociales > a > i {
    font-size: 30px;
}

.container > footer > .footer-container > .footer-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > footer > .footer-container > .footer-copy > p {
    font-size: 14px;
}




